SMUniversity.WebAPI/Connected Services/TapServiceReference/paygatewayservice1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://live.gotapnow.com/webservice/paygatewayservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" />
  <xs:element name="PaymentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="PayRequest" nillable="true" type="q1:PayRequestDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="PaymentRequestResult" nillable="true" type="q2:PayResponseDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatusRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="OrderStatusRequest" nillable="true" type="q3:GetOrderStatusRequestDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatusRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="GetOrderStatusRequestResult" nillable="true" type="q4:OrderStatusResponseDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatusRequestbyMerchantID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="OrderStatusRequest" nillable="true" type="q5:GetOrderStatusRequestDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatusRequestbyMerchantIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="GetOrderStatusRequestbyMerchantIDResult" nillable="true" type="q6:OrderStatusResponseDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaptureAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="CaptureRequest" nillable="true" type="q7:CaptureRequestDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaptureAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="CaptureAmountResult" nillable="true" type="q8:CaptureResponseDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="OrderRequestDC" nillable="true" type="q9:GetOrderRequestDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="GetOrderDetailsResult" nillable="true" type="q10:OrderResponseDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Refund">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="RefundRequestDC" nillable="true" type="q11:RefundRequestDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="RefundResult" nillable="true" type="q12:RefundResponseDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefundStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="GetRefundStatusRequestDC" nillable="true" type="q13:GetRefundStatusRequestDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefundStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="GetRefundStatusResult" nillable="true" type="q14:RefundResponseDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="request" nillable="true" type="q15:Transactions_Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q16:Transactions_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>