SMUniversity.WebAPI/Connected Services/TapServiceReference/PayGatewayServiceCall.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PayGatewayServiceCall" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://live.gotapnow.com/webservice/paygatewayservice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://live.gotapnow.com/webservice/paygatewayservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://live.gotapnow.com/webservice/paygatewayservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tap.PayServiceContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPayGatewayService_PaymentRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentRequest" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_PaymentRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_GetOrderStatusRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatusRequest" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_GetOrderStatusRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatusRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_GetOrderStatusRequestbyMerchantID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatusRequestbyMerchantID" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_GetOrderStatusRequestbyMerchantID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatusRequestbyMerchantIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_CaptureAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:CaptureAmount" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_CaptureAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CaptureAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_GetOrderDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetails" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_GetOrderDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_Refund_InputMessage">
    <wsdl:part name="parameters" element="tns:Refund" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_Refund_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefundResponse" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_GetRefundStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRefundStatus" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_GetRefundStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRefundStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_GetTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactions" />
  </wsdl:message>
  <wsdl:message name="IPayGatewayService_GetTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPayGatewayService">
    <wsdl:operation name="PaymentRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayGatewayService/PaymentRequest" message="tns:IPayGatewayService_PaymentRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayGatewayService/PaymentRequestResponse" message="tns:IPayGatewayService_PaymentRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatusRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayGatewayService/GetOrderStatusRequest" message="tns:IPayGatewayService_GetOrderStatusRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayGatewayService/GetOrderStatusRequestResponse" message="tns:IPayGatewayService_GetOrderStatusRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatusRequestbyMerchantID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayGatewayService/GetOrderStatusRequestbyMerchantID" message="tns:IPayGatewayService_GetOrderStatusRequestbyMerchantID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayGatewayService/GetOrderStatusRequestbyMerchantIDResponse" message="tns:IPayGatewayService_GetOrderStatusRequestbyMerchantID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CaptureAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayGatewayService/CaptureAmount" message="tns:IPayGatewayService_CaptureAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayGatewayService/CaptureAmountResponse" message="tns:IPayGatewayService_CaptureAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayGatewayService/GetOrderDetails" message="tns:IPayGatewayService_GetOrderDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayGatewayService/GetOrderDetailsResponse" message="tns:IPayGatewayService_GetOrderDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayGatewayService/Refund" message="tns:IPayGatewayService_Refund_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayGatewayService/RefundResponse" message="tns:IPayGatewayService_Refund_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRefundStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayGatewayService/GetRefundStatus" message="tns:IPayGatewayService_GetRefundStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayGatewayService/GetRefundStatusResponse" message="tns:IPayGatewayService_GetRefundStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IPayGatewayService/GetTransactions" message="tns:IPayGatewayService_GetTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPayGatewayService/GetTransactionsResponse" message="tns:IPayGatewayService_GetTransactions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Default" type="tns:IPayGatewayService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PaymentRequest">
      <soap:operation soapAction="http://tempuri.org/IPayGatewayService/PaymentRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatusRequest">
      <soap:operation soapAction="http://tempuri.org/IPayGatewayService/GetOrderStatusRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatusRequestbyMerchantID">
      <soap:operation soapAction="http://tempuri.org/IPayGatewayService/GetOrderStatusRequestbyMerchantID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaptureAmount">
      <soap:operation soapAction="http://tempuri.org/IPayGatewayService/CaptureAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <soap:operation soapAction="http://tempuri.org/IPayGatewayService/GetOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <soap:operation soapAction="http://tempuri.org/IPayGatewayService/Refund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRefundStatus">
      <soap:operation soapAction="http://tempuri.org/IPayGatewayService/GetRefundStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <soap:operation soapAction="http://tempuri.org/IPayGatewayService/GetTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayGatewayServiceCall">
    <wsdl:port name="Default" binding="tns:Default">
      <soap:address location="http://live.gotapnow.com/webservice/paygatewayservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>